.header {
  background-color: #1a1a1a;
  width: 100%;
  nav {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 6;
    background-color: #1a1a1a;
  }

  .nav-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_end {
      justify-content: flex-end;
    }
  }

  
}
