@import "./global/fonts.scss";
@import "./global/variables.scss";
@import "./global//mixins.scss";
@import "./global/base.scss";

@import "./sections/header.scss";
@import "./sections/internet.scss";
@import "./sections/your-packages.scss";
@import "./sections//propositions.scss";
@import "./sections/footer.scss";

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  background-color: #000000;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
}

.internet__buy,
.internet__film {
  border: 1px solid #000000;
}
